<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Multiverso</title>
    <style >
   		.container{background:url("img/galassia.jpg");
   					width: 100%;
  					height: 100%;
     				margin: 2%;padding: 2%;
     		   		}
   		h1{color:white;}
   		td,tr{text-align: center}
   		
    </style>
  </head>
  <body>
	  <div class="container">
	  	<h1>Multiverso</h1>
	  	<h2>Seja Bem vindo viajante do espaço</h2>
	    <div>
	    	<p>A Multiverso Corporation tem a tecnologia mais avança de transporte intergalático, para transforma sua viagem a mais rápida e confortável por diversos universos.</p>
	    </div>
	    
	    <form action="@/listaCaminho" method="post">
				<div id="cadastros">
					Origem: <input type="text" value="" name="origem"/></p>
					Destino : <input type="text" value="" name="destino"/>			
					
					<button type="submit" class="btn btn-light" title="Salvar">Salvar</button>					 	
				</div>
		</form>	
		
		<table class="table table-dark">
					  <thead>
					    <tr>
					    	<th scope="col">Universos que ira percorrer</th>
						      <th scope="col">Quantidade de Paradas</th>
						      <th scope="col">total de EP</th>	
						      <th scope="col">Icone</th>				
					    </tr>
					  </thead>
					  
					  <tbody>
					    <tr th:each="caminho : ${listaCaminhos}">
					    	<td th:text="${caminho.getLetrasDoCaminho()}"></td>
							<td th:text="${caminho.getQtdParada()}"></td>							
							<td th:text="${caminho.getTotalEspacoTempo()}"></td>
							<td th:text="${caminho.getMenorCaminho()}"></td>
						</tr>
					  </tbody>
					</table>
	
	    <!-- JavaScript (Opcional) -->
	    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	  
	  </div> 
  </body>
</html>